# Jupyter Notebook: Share datasets

In this notebook, I show how to **share datasets** among notebooks that use the same **kernel**.

## Table-of-Content

* [Load Dataset](#load-dataset)
* [Store Dataset](#store-dataset)
* [Read Dataset](#read-dataset)

In [1]:
import seaborn as sns

## Load Dataset <a class="anchor" id="load-dataset"></a>

Load **titanic dataset**.

In [3]:
# Load titanic dataset
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Store Dataset <a class="anchor" id="store-dataset"></a>

Store the dataset so that you can read it from other **Jupyter Notebooks** (i.e. using the same *Kernel*).

<div class="alert alert-block alert-info">
    <b>Share:</b> Just use the magic command <i><b>%store</b></i> and the name of the variable/dataset.
</div>

**Example:**
```python
%store data

```

In [4]:
# Store titanic dataset
%store titanic

Stored 'titanic' (DataFrame)

## Read Dataset <a class="anchor" id="read-dataset"></a>

Read the dataset from another **Jupyter Notebook**.

<div class="alert alert-block alert-info">
    <b>Read:</b> In another <b>Jupyter Notebook</b>, use the magic command <i><b>%store -r</b></i> and the name of the variable/dataset.
</div>

**Example:**
```python
%store -r data

```

In [5]:
%store -r titanic

___